streamlit
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

plotly
pdfplumber
python-docx
pdfminer.six==20221105
pandas==2.2.2
numpy==1.26.4
fpdf==1.7.2
requests==2.32.3
PyMuPDF==1.24.1